@font-face {    
  font-family: 'OpenSans Regular';
  src: url(../fonts/OpenSans-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans Bold';
  src: url(../fonts/OpenSans-Bold.ttf);
  font-weight: 400;
  font-style: normal;
}

.copyrihgt_content, .themes_count, .section_title, .product_button, .product_price, .product_price_old, .product_content_title, .new_title, .category_link, .trend_link, .feedback_top, .list_themes_link, .list_tags_link, .email_button, .aside_news_title, .aside_title, .news_author, .new_title, .news_tag_link, .title {
  font-family: 'OpenSans Bold', sans-serif;
} 

.email, .searche_field, .nav_link, .opiniop_field, .feedback_form, .product_content_container,  .feedback_button, .aside_news_date, .news_text, .news_date, .nav_list li a {
  font-family: 'OpenSans Regular', sans-serif;
}

*{   
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none; 
  color: #ffffff;
}

@media (max-width: 640px) {
  .header {
    background-image: url(../img/banner-mobile.jpg);
    display: flex;
    flex-direction: column;
  }

  .link_logo {
    display: block;
    width: 75%;
    margin: 209px auto 0;
  } 

  .menu-btn {
    position: absolute;
    top: 35px;
    right: 15px;
  }

  .wrapper {
      flex-direction: column;
      }

  .main {
      width: 100%;
  }

  .aside {
      max-width: 330px;; 
      margin-top: 47px;
  }
  .product {
      width: 100%;
  }

  .product:not(:last-child) {
      margin-bottom: 25px;
  }

  .product_content_title {
      font-size: 17px;
  }
}

@media (max-width: 640px) and (orientation: portrait) {
  .container_header {
    padding: 0 15px;
  }

  .heading {
    flex-direction: column-reverse;
  }

  .header_title {
    margin-top: 40px;
  }

  .title {
    font-size: 26px;
    line-height: 36px;
  }

  .feedback_container {
    padding: 30px 25px 30px 25px;
    width: 330px;
  }

  .feedback_form {
    width: 280px; 
    margin-top: 30px;
  }

  .popup-close {
    font-size: 28px;
    top: -1.2em; 
  }

  .trend_wrapper_item {
      width: 100%;
  }
  .trend_wrapper_item:not(:last-child){
      margin-bottom: 2px;
  }
  .trend_title {
      font-size: 16px;
  }

  .section {
    padding: 0 15px;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    max-width: 1170px;
    display: flex;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;  
    align-items: center;
    flex-wrap: wrap;
  }

  .new_img {
    width: 100%;
  }

  .news_content {
    width: 100%;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .popup-close {
    font-size: 24px;
  }

  .trend_wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 320px;
  }

  .trend_wrapper_item {
      width: 49.8%;
      margin-bottom: 2px;
  }
  .trend_wrapper_item:nth-child(odd){
      margin-right: 0.4%;
  }
  .trend_title {
      font-size: 14px;
  }

  .section {
    padding: 0 15px;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
  }

  .news_content {
    max-width: 390px;
  }

  .feedback_container {
    width: 390px;
    padding: 50px 30px 50px 30px;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  .header {
      background-image: url(../img/banner-bg-tablet.jpg);
  }
 
  .link_logo {
    width: 160px;
  } 

  .trend_title {
      font-size: 17px;
  }

  .main {
      width: 56.16%;
  }

  .aside {
      width: 39.11%; 
      margin-left: 4.73%;
  }

  .product {
      width: 48.3%;
  }

  .product:nth-child(-n + 2) {
      margin-bottom: 25px;
  } 

  .product:nth-child(odd) {
      margin-right: 1.7%;
  }

  .product:nth-child(even) {
      margin-left: 1.7%; 
  }

  .product_content_title {
      font-size: 17px;
  }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
  .title {
    font-size: 40px;
  }

  .container_header {
    padding: 0 35px;
  }
  
  .popup-close {
    font-size: 24px;
  }

  .trend_wrapper  {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 320px;
  }

  .trend_wrapper_item {
      width: 49.8%;
      margin-bottom: 2px;
  }
  .trend_wrapper_item:nth-child(odd){
      margin-right: 0.4%;
  }

  .section  {
    padding: 0 35px;
    box-sizing: border-box;
    max-width: 1170px;
    display: flex;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .new_img {
    width: 100%;
  }

  .news_content {
    max-width: 390px;
  }

  .feedback_container {
    width: 390px;
    padding: 50px 30px 50px 30px;
  }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
  .popup-close {
    font-size: 24px;
  }

  .trend_wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 320px;
  }

  .trend_wrapper_item {
      width: 24.8%;
  }

  .section {
    padding: 0 15px;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    max-width: 1170px;
    display: flex;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;  
    align-items: center;
    flex-wrap: wrap;
  }

  .new_img {
    width: 100%;
  }

  .feedback_container {
    width: 390px;
    padding: 50px 30px 50px 30px;
  }
}

@media (max-width: 1199px) {
  .nav_list {
      display: none;
  }

  .news_img {
      width: 100%;
  }

  .news_content {
      padding-bottom: 24px;
      border-bottom: 2px solid #eeeeee;
      margin-top: 17px;
  }

  .news:not(:last-child) {
      margin-bottom: 40px;
  }
}

@media (min-width: 1200px) {
  .header {
      background-image: url(../img/banner-bg.jpg);
  }

  .menu-btn {
    display: none;
  }

  .link_logo {
    width: 184px;
  } 

  .nav_list {
    list-style-type: none;
    display: flex;
  }

  .nav_item:not(:last-child) {
    margin-right: 35px;
  }

  .nav_link {  
    font-size: 13px;
    text-transform: uppercase;  
  }

  .nav_link:hover, .nav_link:focus {
    text-decoration: underline;
    cursor: pointer;
  }

  .popup-close {
    font-size: 20px;
  }

  .trend_wrapper {
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-height: 320px;
  }

  .trend_wrapper_item {
      width: 24.8%;
  }

  .trend_title {
      font-size: 20px;
  }

  .section {
    box-sizing: border-box;
    max-width: 1170px;
    display: flex;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: nowrap;
  }

  .new_img {
    width: 100%;
  }

  .news {
      display: flex;
  }

  .main {
      width: 65.56%;
  }

  .aside {
      margin-left: 11.19%;
  }

  .news:not(:last-child) {
      margin-bottom: 60px;
  }

  .news_img {
    width: 49.67%; 
  }   

  .news_content {
      margin-left: 3.9%; 
  }

  .product {
      width: 29.57%;
  }

  .product:not(:last-child) {
      margin-right: 2.82%;
  }
  
  .product:not(:first-child) {
      margin-left: 2.82%;
  }

  .product_content_title {
      font-size: 20px;
  }

  .feedback_container {
    width: 390px;
    padding: 50px 30px 50px 30px;
  }
}

.header {
  background-repeat: no-repeat;
  background-position: center top;    
  background-size: cover;
  position: relative;
  z-index: 1;  
  padding-bottom: 125px;  
  padding-top: 28px;
}

.header:after { 
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  background: rgba(0, 0, 0, 0.6);
}

.container_header {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

.heading {
  display: flex; 
  justify-content: space-between;
  align-items: center;

}

.header_title {
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  max-width: 715px;
}

.title {
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;  
  line-height: 1.6; 
  font-size: 45px;
}

.block_feedback {
  display: none;
}

.feedback {
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index:8;
}

.feedback::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.feedback_container {
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  background-color: #ffffff;
}

.feedback_top {
  text-align: center;
  text-transform: uppercase;
  line-height: 1.3;
  font-size: 20px;
  color: #0f0d0e;
}

.feedback_top::after {
  content: " ";
  display: block;
  width: 65px;
  height: 3px;
  background-color: #b59f5b;
  margin: 15px auto 0;
}

.feedback_form {
  margin-top: 30px;
}

.feedback_form_select {
  margin-bottom: 30px;
}

.feedback_select { 
  height: 40px;
  width: 100%;
  border: 1px solid;
  border-color: inherit;
  display: block;
  box-sizing: border-box;
  padding-left: 20px;
  margin-top: 10px;
  background-color: #f3f6f4;  
  font-family: inherit;  
  cursor: pointer;
  color: grey;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../svg/form-arrows.svg);
  background-size: 10px 20px;
  background-repeat: no-repeat;
  background-position: right 5px center;
}

.feedback_select:focus {
  border: 1px solid;
  border-color: #b59f5b;
}

.feedback_form_radio {
  margin-bottom: 30px;
}

.radio_group {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.feedback_radio_group {
  display: inline-block;
}

.feedback_radio_group:nth-of-type(n+2) {
  margin-left: 15px;
}

.hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.feedback_radio_group_text::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  background-image: url("../svg/form-empty-circle.svg");
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: top;
  margin-right: 5px;
}

.radio:checked ~ .feedback_radio_group_text::before {
  background-image: url("../svg/form-circle.svg");
}

.feedback_form_opinion {
  margin-bottom: 25px;
}

.feedback_group_opinion {
  display: flex;
  flex-direction: column;
}

.opiniop_field {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  margin-top: 10px;
  min-width: 100%;
  max-width: 100%;
  min-height: 130px;
  max-height: 130px;
  resize: none;
  background-color: #f3f7f6;
  padding: 15px;
  font-family: inherit;
  font-size: 13px;
  border: 1px solid;
  border-color: inherit; 
}

.opiniop_field:focus {
  border: 1px solid;
  border-color: #b59f5b; 
}

.feedback_button {  
  width: 100%;
  margin-top: 18px;
  height: 48px;
  border: none;
  background-color:#b59f5b;
  font-weight: bold;
  text-transform: uppercase;
  color:#ffffff;
  font-size: 13px;
  align-self: flex-end;
  cursor: pointer;
}

.popup-close {
  width: 1.4em;
  height: 1em;
  position: absolute;
  top: -1.5em;
  right: 0;
  background-color:transparent;
  border: none;
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
}

.section_trends {
  width: 100%;
}

.section_title {
  text-align: center;
  margin: 60px auto 5px auto; 
  font-size: 20px; 
  color: #0f0d0e;
  text-transform: uppercase;
}

.trend_wrapper {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.trend_img {
  width: 100%;
  height: 100%;
  object-fit: cover;   
}

.trend_wrapper_item {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #040a04;
  position: relative;
  z-index: 0;
}

.trend_wrapper_item::after { 
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6; 
  z-index: 1;
}

.trend_text {
  max-height: 85%;
  border: 3px solid #b59f5b;
  padding: 5% 5%;
  position: absolute; 
  bottom: 15px;
  margin: auto 3.63%;
  z-index: 2;
}

.trend_link {
  text-transform: uppercase;
  color: #ffffff;
}

.wrapper {  
  display: flex;
  box-sizing: border-box;
  width: 100%; 
}

.main, .news_content {
  box-sizing: border-box;
}

.news_content {
  width: 367px;
}

.new_img {
  display: block;
  object-fit: contain;
}

.category {  
  padding: 0;
  margin-bottom: 10px; 
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
}

.category_item:not(:last-child) {
  margin-right: 18px;
}

.category_link {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #b59f5b;   
}

.new_title {  
  font-size: 20px; 
  line-height: 1.1;
  color: #0f0d0e;
  text-transform: uppercase;
  margin-bottom: 0; 
  padding: 0;
  margin-top: 0;
}

.meta {
  display: flex;
  padding: 0;
  margin-left: 0;
  margin-bottom: 45px; 
  margin-top: 25px;
}

.news_date {
  font-size: 12px;
  color: #888888;
  margin-right: 15px;
  margin-left: 0;
}

.news_author {
  font-size: 12px;
  color: #000000; 
}

.news_text {
  font-size: 15px;
  line-height: 1.375;
  color: #0f0d0e; 
  margin-top: 0;
}

.news-description-next {
  margin-top: 10px;
}

.aside {
  box-sizing: border-box;
  width: 272px;
}

.aside_item {
  display: block;
  width: 100%;
}

.aside_title { 
  font-size: 14px;
  color: #0f0d0e;
  text-align: center;
  display: block;
  text-transform: uppercase;
}

.aside_news {
  display: flex;
  margin-bottom: 21px;
}

.aside_img {
  display: block;
  width: 70px;
}

.aside_news_content{
  box-sizing: border-box;
  margin-left: 20px;
}

.aside_news_date {
  font-size: 12px;
  color: #888888; 
  margin: 0;
}

.aside_news_title {
  font-size: 14px;
  color: #000000; 
  line-height: 1.28;
  text-transform: uppercase;
  margin-top: 4px;
}

.searche_container {
  margin-top: 62px; 
  width: 100%;
}

.searche {  
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.searche_group {
  flex-grow: 1;
}

.searche_field {  
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 18px;
  width: 100%; 
  height: 48px;
  font-size: 13px;
  border: none;
  background-color: #f4f7f6;
}

.searche_button {
  border: none;
  width: 50px;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  background-color: #b59f5b;
}

.email_item, .tegs_item {
  margin-top: 57px;
}

.email {  
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 18px;
  width: 100%;
  height: 48px;
  font-size: 13px;
  border: none;
  background-color: #f4f7f6;
}

.email_button {
  margin-top: 17px;
  height: 48px;
  border: none;
  width: 100%;
  background-color: #b59f5b;
  text-transform: uppercase;
  color:#ffffff;
  font-size: 14px;
}

.list_tags {
  list-style: none;
  display: flex;
  flex-wrap: wrap; 
}

.list_tags_item {  
  margin-bottom: 6px;
  margin-right: 3px;
}

.list_tags_link {
  display: block;
  box-sizing: border-box;
  align-items: center;
  align-content: space-between;
  text-decoration: none;
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 12px;
  border: 3px solid #eeeeee;
  padding: 8px 13px;
}

.themes_item {
  margin-top: 52px;
}

.list_themes {
  list-style: none;
  margin-left: 0;
  display: block;
}

.list_themes_item {  
  margin-left: 0;
  margin-top: 10px;
}

.list_themes_item::after {
  content: " ";
  display: block;
  margin-top: 10px;
  width: 100%;
  height: 1px;
  background:#eeeeee;
}

.list_themes_link {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
  padding: 0 5px 0 2px;
  margin-left: 0;
}

.themes_count {
  vertical-align: super;
  color:#b59f5b;
  font-size: 12px;
}

.section_products {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.products_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: stretch; 
  flex-wrap: wrap;
}

.product {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.shop-img {
  width: 100%; 
  object-fit: contain;
  padding: 0 25px;
  position: relative;
  z-index: 0;
}

.product_img {
  margin: 0 auto;
}

.product_body {
  width: 100%;
  padding: 55px 25px 25px;
  margin-top: -30px;
  border: 3px solid #b59f5b;
  position: relative;
  z-index: 1;
  flex-grow: 1;
}

.product_content_title  { 
  line-height: 24px;
  color: #0f0d0e;
  text-transform: uppercase;
  margin-bottom: 0; 
  padding: 0;
  margin-top: 0;
}

.product_content_container {
  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e; 
  margin-top: 0;
}

.product_footer {
  margin-top: 27px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product_price_old {
  text-decoration: line-through;
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 14px;
}

.product_price {
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 20px;
}

.product_rub {
  font-family: inherit;
  text-transform: uppercase;
  color: inherit;
  font-size: inherit;
}

.product_button {
  height: 50px;
  width: 141px;
  border: none;
  background-color: #b59f5b;
  text-transform: uppercase;
  color:#ffffff;
  font-size: 14px;
}

.text_link {
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  color: #b59f5b; 
}

.product_button:hover, .product_button:focus, .feedback_button:hover, .feedback_button:focus {
  background-color: #323232;
  cursor: pointer;
}

.text_link:hover, .text_link:focus {
  text-decoration: underline;
  cursor: pointer;
}

.footer {
  text-align: center;
  max-width: 1170px;
  margin: 34px auto 40px;
  padding: 0px 15px;
}

.footer_wrapp {
  background-color: #f4f7f6;
  margin-bottom: 70px;
}

.social_nets {  
  display: flex;
}

.list_social {
  display: flex;
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 31px;
  margin-bottom: 31px;
  padding-inline-start: 0;
}

.list_social_item:not(:last-child) {
  margin-right: 28px;	
}

.list_social_link {
  display: block;
  width: 28px;
  height: 28px;    
}

.twitter, .pinterest, .facebook, .instagramm, .tumblr {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 21px; 
}

.twitter {
  background-image: url(../svg/004-twitter.svg);
}

.pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.facebook {
  background-image: url(../svg/002-facebook-logo.svg);
}

.instagramm {
  background-image: url(../svg/005-instagram.svg);
}

.tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.copyright {  
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  color:#999999;  
} 

.aside_title::after, .section_title::after, .section_title::after {  
  content: " ";
  display: block;
  box-sizing: border-box;
  width: 66px;
  margin: 10px auto 25px auto;
  border-bottom: 3px solid #e1d9bd;
}

.list_themes_link:hover, .list_themes_link:focus {
  color: #b59f5b;
  cursor: pointer;
}

.email_button:hover, .email_button:focus, .searche_button:hover, .searche_button:focus {
  background-color: #323232;
  cursor: pointer;
}

.email:focus, .searche_field:focus {
  outline: 1px solid #b59f5b;
  outline-offset: -2px;
}

.aside_news_title:hover, .aside_news_title:focus, .new_title:hover, .new_title:focus, .news_author:hover, .news_author:focus, .trend_link:hover, .trend_link:focus {
  color: #b59f5b;
  cursor: pointer;
}

.category_link:hover, .category_link:focus {
  text-decoration: underline;
  cursor: pointer;
}

.list_tags_link:hover {
  border: 3px solid #b59f5b;
}

.menu-btn {
  width: 24px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

.burger_line {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
}

.burger_line:not(:last-child) {
  margin-bottom: 6px;
}